<div class="sidebar p-d-flex p-flex-column p-ai-start">
  <div class="setting-tray p-d-flex p-flex-row p-ai-center p-jc-between">
    <div class="user p-d-flex p-flex-row p-ai-center">
      <img src="assets/images/me.jpeg" alt="profile image" class="profile-image rounded">
      <div class="user-info p-d-flex p-flex-column p-ai-center p-jc-start pl-2">
        <div class="username">@atheodosiou</div>
        <!-- <div class="status">Working on ...</div> -->
      </div>
    </div>
    <span class="setting-tray-right p-d-flex p-flex-row float-right">
      <i class="material-icons">cached</i>
      <i class="material-icons">message</i>
      <i class="material-icons">more_vert</i>
    </span>
  </div>
  <!-- Groups -->
  <div class="group-wrapper p-d-flex p-flex-column">
    <div class="group-header p-d-flex p-flex-row p-ai-center p-jc-between p-2">
      <div class="description p-d-flex p-flex-row p-ai-center">
        <i class="material-icons">groups</i>
        <span class="name">Channels</span>
      </div>
      <i class="material-icons add-icon">add_box</i>
    </div>
    <div class="group-items p-d-flex p-flex-column">
      <div class="group-item p-d-flex p-flex-row p-jc-between p-ai-center p-2">
        <span>
          <span class="text-white pl-2 pr-2">#</span>
          <span class="group-name small">Teammates</span>
        </span>
        <span class="badge badge-pill">10</span>
      </div>
      <div class="group-item p-d-flex p-flex-row p-jc-between p-ai-center p-2">
        <span>
          <span class="text-white pl-2 pr-2">#</span>
          <span class="group-name small">For fun</span>
        </span>
        <span class="badge badge-pill">12</span>
      </div>
      <div class="group-item p-d-flex p-flex-row p-jc-between p-ai-center p-2">
        <span>
          <span class="text-white pl-2 pr-2">#</span>
          <span class="group-name small">Holidays</span>
        </span>
        <span class="badge badge-pill">17</span>
      </div>
    </div>
  </div>
  <!-- Direct Messages -->
  <div class="group-wrapper p-d-flex p-flex-column">
    <div class="group-header p-d-flex p-flex-row p-ai-center p-jc-between p-2">
      <div class="description p-d-flex p-flex-row p-ai-center">
        <i class="material-icons">groups</i>
        <span class="name">Direct Messages</span>
      </div>
      <i class="material-icons add-icon">add_box</i>
    </div>
    <div class="user-items p-d-flex p-flex-column">
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/me.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Anastasios Theodosiou</div>
      <div class="user-activity">
        <div class="activity online"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/padelis.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Padelis Theodosiou</div>
      <div class="user-activity">
        <div class="activity offline"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/alexandra.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Alexandra Stancu</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/victor.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Victor Ruiz</div>
      <div class="user-activity">
        <div class="activity online"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/kristine.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Kristine Hakobyan</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>

     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/kristine.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Kristine Hakobyan</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/kristine.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Kristine Hakobyan</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/kristine.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Kristine Hakobyan</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/kristine.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Kristine Hakobyan</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/kristine.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Kristine Hakobyan</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/kristine.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Kristine Hakobyan</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>
     <div class="user-item p-d-flex p-flex-row p-ai-center p-jc-start p-2">
      <img src="../../../assets/images/kristine.jpeg" alt="user photo" class="rounded">
      <div class="user-name pl-3">Kristine Hakobyan</div>
      <div class="user-activity">
        <div class="activity idle"></div>
      </div>
     </div>
    </div>
  </div>
</div>