@import '../../../../assets/styles/shared-styles.scss';

.sidebar{
    width: 260px;
    background-color: $purple;
    color: $light;
    height: calc(100vh - 38px);

    .setting-tray{
        width:100%;
        border-bottom: $border-light;
        padding: 0.5rem;
        
        .user{
            .profile-image{
                width: 30px;
                height: 30px;
                padding: 0;
                border-radius: 50%;
            }
            .user-info{
                width: 100%;
                .username{

                }
            }
        }

        .setting-tray-right{
            i{
                font-size: 23px;
                margin-left: 0.5rem;
                color: $light;
                &:first-child{
                    margin-left: 0px;
                }
                
                &:hover{
                    @include action-hover();
                }
            }
        }
    }
    
    .group-wrapper{
        width: 100%;
        max-height: calc(50vh - 50px);

        
        .group-header{
            width: 100%;
            
            .description{
                i{
                    font-size: 23px;
                    margin-right: 0.5rem;
                }

                .name{
                    margin-left: -15px;
                }
            }
            .add-icon{
                font-size: 23px;
                &:hover{
                    @include action-hover();
                }
            }
            border-bottom: $border-light;
        }

        .group-items{
            width: 100%;
            height: 100%;
            border-bottom: $border-light;
            overflow-y: auto;

            .group-item{
                padding-right: 0.5rem;
                &:hover{
                    background-color: $purple-dark;
                    color: white;
                    cursor: pointer;
                }

                .badge{
                    background-color: $pink;
                    font-size: 10px;
                    padding-top: 2px;
                    color: white;
                }
            }
        }

        .user-items{
            width: 100%;
            height: 100%;
            border-bottom: $border-light;
            overflow-y: auto;

            .user-item{
                padding-right: 0.5rem;

                &:hover{
                    background-color: $purple-dark;
                    color: white;
                    cursor: pointer;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
                .user-name{
                    width: 100%;
                }
                .user-activity{
                    .activity{
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}