<div class="toolbar p-d-flex p-flex-row p-jc-start p-align-center">
  <div class="brand p-d-flex p-flex-row p-ai-center">
    <img src="assets/icons/logo_28x28.png" alt="logo">
    <div class="name pl-2">Slacq</div>
  </div>
  <div class="search-box p-d-flex p-flex-row p-jc-between p-align-center bg-aqua">
    <input type="text" placeholder="Search..">
    <button class="btn" pRipple (click)="op.toggle($event)">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
  </div>
</div>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <p-button label="Log out" (onClick)="logout()"></p-button>
  </ng-template>
</p-overlayPanel>