@import '../../../assets/styles/shared-styles.scss';

.main-container{
    height: 100%;
    
    .main{
        height: calc(100% - 38px);
        .content{
            width: calc(100vw - #{$sidbar-width});
            background-color: whitesmoke;
        }
    }
}

ul{
    list-style: none;
    padding:0.25rem 0.5rem;
    li{
        text-decoration: none;
    }
    border-bottom: $border-light;
    margin-bottom: 0px;
}
