<div class="chat-header p-d-flex p-flex-row pl-2 pr-2 p-ai-center p-justify-between">
  <div class="header-info">
    <div class="chanel">
      <div class="info p-text-bold">
        <span class="p-mr-1">#</span>
        <span>Teammates</span>
      </div>
      <div class="topic small text-muted">
        <a>Add a topic here</a>
      </div>
    </div>
  </div>
  <div class="header-actions p-d-flex p-flex-row p-ai-center p-jc-end">
    <div class="chanel-actions p-d-flex p-flex-row p-ai-center">
      <span class="p-text-bold">2</span>
      <button pButton pRipple type="button" icon="pi pi-user-plus" class="p-button-rounded p-button-text"></button>
      <button pButton pRipple type="button" icon="pi pi-user-plus" class="p-button-rounded p-button-text"></button>
    </div>
    <!-- <div class="user-actions"></div> -->
  </div>
</div>