$purple:#3F0E40;
$purple-dark:#350D36;
$pink:#e51670;
$red:#d40e0d;
$yellow:#ebb424;
$triquize:#49c39e;
$light-blue:#80d2de;
$gray:#eee;
$light:rgb(188,171,188);

//Width
$sidbar-width:260px;

//Borders
$border-light:1px solid rgba(white,.1);